In [1]:
import statsmodels.api as sm
from statsmodels.tsa.stattools import coint
import numpy as np
import pandas as pd

In [9]:
a = [1,2,3,4,5,9, 2, 100, 2]
b = [2,3,4,5,8, 20, 4, 200, 6]
coint(a, b)

(-1.6272962262505617,
 0.7092321145147488,
 array([-5.78928688, -4.20650187, -3.6171    ]))

In [18]:
from common_utils import *

In [19]:
df = get_data("ZOMATO")

ZOMATO

In [31]:
normalize(df[['close']])

               close
datetime
2021-07-23  1.293056
2021-07-26  1.742076
2021-07-27  1.504540
2021-07-28  1.452435
2021-07-29  1.769661
...              ...
2023-08-14  0.273950
2023-08-16  0.247898
2023-08-17  0.224911
2023-08-18  0.169741
2023-08-21  0.182001

[516 rows x 1 columns]

In [30]:
df[['close']]

             close
datetime
2021-07-23  126.00
2021-07-26  140.65
2021-07-27  132.90
2021-07-28  131.20
2021-07-29  141.55
...            ...
2023-08-14   92.75
2023-08-16   91.90
2023-08-17   91.15
2023-08-18   89.35
2023-08-21   89.75

[516 rows x 1 columns]